*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    padding-right: 90px;
    padding-top: 18px;
    font-size: 18px;
}
.cla{
    background-color: #fff;
}

a{
    text-decoration: none;
    color: black;
}
header{
    padding: 10px 40px
    
}
header h3{
    font-size: 30px;
    font-weight: bold;
    font-family: Cardo, Arial;
    
}
.row{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: #586f83;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}
.start{
    height: 500px;
}
.main{
    width: 910px;
    height: 270px;
    margin-left: 315px;
}
.start h2{
    font-size: 27px;
    margin-top: 60px;
    margin-left: 312px
}
.start h4{
    font-size: 40px;
    font-weight: bold;
    margin-top: 51px;
    margin-left: 17px;
    color: #3c2118;
}
.parent{
    display: flex;
    background-color: #fff;
    margin: 0 auto;
    width: 1305px;
    flex-flow: row wrap;
}
.size{
    width: 300px;
    height: 300px;

}
.parent div{
    width: calc(1305px/3);
    position: relative;
    padding: 0 65px;
    margin-bottom: 20px;
}
.start p{
    margin-left: 293px;
    margin-top: 10px;
}
.parent button{
    background-color: #eae1dc;
    cursor: pointer;
}

.footer
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border:none;
    padding-top:50px ;
    border-top: 1px solid #80808038;
}
.list ul li{
    display: block;
    padding-right: 90px;
    padding-top: 18px;
    font-size: 18px;
}
.list h3
{
    padding-bottom: 20px;
}
.input h3
{
    margin-bottom: 15px;
}
.input p
{
    margin-bottom: 15px;
    color: gray;
}
.input input
{
    width: 100%;
    padding: 15px;
}

